.menuHorizontal {
    text-align: center;
    color: blueviolet
}

.titulo,.nombre {
    text-align: center;
    color: blue
}
.tablaprincipal{
    margin: auto;
    margin-top: 200px;
    color: rgb(98, 97, 97);
}
.header{
    margin-left: 100px;
    color: rgb(98, 88, 88)
}
.footer{
    text-align: center;
    color: rgb(98, 88, 88);
    margin-top: 100px;
}

.foto{
    display: flex;
    justify-content: center;
}